body {
    font-family: Tahoma, sans-serif;
    color: #000000;
    background-color: beige;
}

form {
    background-color: #be84a3;
    border: 0.125em solid purple;
    width: fit-content;
}

form p {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 0;
}

section {
    display: grid;
    grid-template-rows: 1fr 3fr;
}

section p {
    display: grid;
    grid-template-columns: 1fr;
}

form p {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

form p:nth-child(4) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

section+p {
    margin-top: 5%;
}

header {
    background-color: #be84a3;
    border: solid 0.125em purple;
    margin: 0 0 2%;
}

h2 {
    padding: 0%;
    margin: 0%;
    font-size: 1.25em;
}

h1 {
    font-size: 2.25em;
}

header p {
    font-size: 1.5em;
}

input {
    font-size: 1.25em;
}

input[type=button] {
    height: 2em;
    margin: 0;
}

input[type=text] {
    text-align: right;
}

textarea {
    text-align: end;
}