/* Daniel Fernández Bernardino*/

/* Especificidad 001 */
body {
    background-color: beige;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Especificidad 001 */
h1 {
    font-size: 2.25em;
}

/* Especificidad 002 */
header p {
    font-size: 1.25em;
}

/* Especificidad 001 */
main {
    width: 60em;
    height: 40em;
}

/* Especificidad 001 */
form {
    width: fit-content;
}

/* Especificidad 001 */
form p {
    margin-bottom: 0%;
}

/* Especificidad 001 */
input {
    font-size: 1em;
}